body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    font-family: 'Fira Code', monospace;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.share-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(75, 75, 75);
    transition: background-color .2s ease-in-out;
}

.share-button span {
    margin: 8px;
}

.share-button:hover {
    background-color: rgb(29, 29, 29);
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

a {
    text-decoration: none;
    color:rgb( 240,240,240);
    font-weight: 600;
}

.tile {
    cursor: pointer;
    width: 90%;
    height: 50px;
    background-color: rgb(37, 37, 37);
    margin: 7px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    transition: background-color .2s ease-in-out;
}

.tile:hover {
    transition: cubic-bezier( 0.07, 1.40, .80, 1.40) 0.2s;
    transform: scale(1.02);
    background-color: rgb(76, 76, 76);
}

.tile-share-button {
    margin: 8px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
    transition: background-color .2s ease-in-out;
}

.tile-share-button:hover {
    background-color: rgb(29, 29, 29);
}

.tile-share-button span {
    margin: 5px;
}



.icon {
    margin: 12px 10px;
    width: 40px;
    height: 40px;
}